NODE_ENV=
DATABASE_URL=
RABBITMQ_URL=
HEALTH_PORT=
KUBERNETES_NAMESPACE=forgepods
AWS_REGION=
WORKSPACE_S3_BUCKET=
WORKSPACE_STORAGE_IMAGE=amazon/aws-cli:2
WORKSPACE_SERVICE_ACCOUNT_NAME=forgepods-workspace
WORKSPACE_BASE_DOMAIN=
KUBERNETES_INGRESS_CLASS=nginx
WORKSPACE_TLS_SECRET_NAME=
WORKSPACE_SYNC_INTERVAL_SECONDS=10
